{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<h4 style="font-family:Calibri;">Welcome, {{user.username}}.</h4>
{% else %}
<h4 style="font-family:Calibri;">Welcome! Please <a style="color: blue;" href="{% url 'login' %}">Log In</a>.</h4>
{% endif %}
<div>
		<h2 style="text-align: center; size: 15px; font-family:Time; color:rgb(0, 0, 0); width: 1000px;">SHOP ONLINE TODAY!</h2>
		<img src="https://images.unsplash.com/photo-1518002171953-a080ee817e1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Adisa shoes" style="width: 50%;"><img src="https://images.unsplash.com/photo-1555378322-2d4b84bc2790?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Timberland" style="width: 50%;">
		<p style="text-align: center; size:20px; font-family:Time; color:rgb(0, 0, 0);">Get 50% off your first purchase. use code 50%OFF</p>
</div>
<br>
<h2 style=" font-family: sans-serif; text-align: left; color:rgb(18, 98, 123); size: 5px; width: 1000px;">Our Products</h2>
	<div class="row">
			{% for product in products %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{product.imageURL}}">
				<div class="box-element product">
					<h6><strong>{{product.name}}</strong></h6>
					<hr>

					<button data-product="{{product.id}}"" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
					<a class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
					<h4 style="display: inline-block; float:none"><strong>Ksh{{product.price| floatformat:2}}</strong></h4>
					<br>
					<br>
					
				</div>
			</div>
			{% endfor %}
	</div>

{% endblock content %}
