{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div>
		<h1 style="text-align: center; size:20px; font-family:Time; color:white; background-color:black; width: 1000px;">SHOP ONLINE TODAY!</h1>
		<p style="text-align: center; size:20px; font-family:Time; color:rgb(0, 0, 0);">Get 50% off your first purchase. use code 50%OFF</p>
</div>
<br>
<h2 style=" font-family: sans-serif; text-align: left; color:rgb(18, 98, 123); size: 5px; width: 1000px;">Our Products</h2>
	<div class="row">
			{% for product in products %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{product.imageURL}}">
				<div class="box-element product">
					<h6><strong>{{product.name}}</strong></h6>
					<hr>

					<button data-product="{{product.id}}"" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
					
					<a class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
					<h4 style="display: inline-block; float:none"><strong>Ksh{{product.price| floatformat:2}}</strong></h4>

				</div>
			</div>
			{% endfor %}
	</div>

{% endblock content %}
