{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h2 style="text-align: center;">Login</h2>
<br>
<div class="login">
  <form method="post">{% csrf_token %}
    <label>username:</label>
    <input type="text" name="username">
    <br>
    <br>
    <label>password:</label>
    <input type="password" name="password">
    <br>
    <br>
    <input type="submit" value="Sign in" class="btn btn-outline-success">
    <br>
    <p>Don't have and account? <a style="color: blue;" href="{%url 'signup'%}">Sign up</a></p>
  </form>
</div>
{% endblock content %}