{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% load recommends %}
<h1><strong>{{product.name}}</strong></h1>
<img src="{{product.imageURL}}" style = "position: left; width: 700px; height: 500px;">
<div class="box-element product">
  <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
  <h4 style="display: inline-block; float:none"><strong>Ksh{{product.price| floatformat:2}}</strong></h4>

</div>

<h2 style=" font-family: sans-serif; text-align: left; color:rgb(18, 98, 123); size: 5px; width: 1000px;">
  Product Description
</h2>
<p>{{product.description}}</p>
<h6>{{product.gender}}</h6>
<br>
<h4>Rate this Product</h4>
<div class="stars">
<button data-product={{product.id}} data-value=1 class="fa fa-star checked rating hidden"></button>
<button data-product={{product.id}} data-value=2 class="fa fa-star checked rating hidden"></button>
<button data-product={{product.id}} data-value=3 class="fa fa-star checked rating hidden"></button>
<button data-product={{product.id}} data-value=4 class="fa fa-star checked rating hidden"></button>
<button data-product={{product.id}} data-value=5 class="fa fa-star checked rating hidden"></button>
<h4>Leave us a comment</h4>
<input type="text" size = "50">
<input data-product={{product.id}} method= "post" type="submit" class="comment" value="Send"> 
</div>
<br>

<br>
<br>

<h4 style="text-align: center; color:rgb(0, 0, 0);">Recommendations</h4>
<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    <img class="thumbnail" src="{{product.imageURL}}">
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr>

      <button data-product="{{product.id}}"" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
      
      <a class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
      <h4 style="display: inline-block; float:none"><strong>Ksh{{product.price| floatformat:2}}</strong></h4>
      <br>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}